<div class="flex w-full my-6">
  <div class="flex w-1/2">
    <span class="w-1/2 font-bold text-2xl">Orders</span>
  </div>
  <div class="flex w-1/2 justify-end">
    <%= link_to "Add order", new_order_path, class: "flex bg-orange-400 rounded px-2 items-center text-white hover:bg-orange-500"%>
  </div>
</div>
<% if @orders.any? %>
  <div class="flex w-full bg-gray-400 rounded font-bold text-sm">
    <div class="flex w-1/5">

    </div>
    <div class="flex w-1/5">
      Order date
    </div>
    <div class="flex w-1/5">
      Deliver date
    </div>
    <div class="flex w-1/5">
      Total
    </div>
    <div class="flex w-1/5">
      State
    </div>
  </div>
  <% @orders.each do |order| %>
  <div class="flex w-full text-sm border-b mt-1">
    <div class="flex w-1/5">
      <%= link_to "Details", order_path(order.id) %>
    </div>
    <div class="flex w-1/5">
      <%= order.order_date.strftime("%F") %>
    </div>
    <div class="flex w-1/5">
      <%= order.deliver_date.strftime("%F") %>
    </div>
    <div class="flex w-1/5 ml-2">
      <%= order.total %>
    </div>
    <div class="flex w-1/5">
      <%= order.state %>
    </div>
  </div>
  <% end %>
<% else %>
<div class="bg-teal-100 border-l-4 border-teal-500 rounded-b text-teal-900 px-4 py-3 shadow-md" role="alert">
<div class="flex">
  <div class="py-1"><svg class="fill-current h-6 w-6 text-teal-500 mr-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M2.93 17.07A10 10 0 1 1 17.07 2.93 10 10 0 0 1 2.93 17.07zm12.73-1.41A8 8 0 1 0 4.34 4.34a8 8 0 0 0 11.32 11.32zM9 11V9h2v6H9v-4zm0-6h2v2H9V5z"/></svg></div>
  <div>
    <p class="font-bold">orders alert</p>
    <p class="text-sm">There aren't available orders.</p>
  </div>
</div>
</div>
<% end %>
